.sidebar {
  @apply w-[16.5625rem] bg-white rounded-dash-default p-6 shadow-dash-default;


  max-height: calc(100vh - 5rem) !important;

  .sidebar-header {
    @apply flex flex-col items-center justify-center gap-5 h-[50px] overflow-hidden;
  }

  .sidebar-content {
    @apply overflow-y-auto overflow-x-hidden;
    max-height: calc(100% - 50px);

    &::-webkit-scrollbar {
      width: 0.4em;
    }

    &::-webkit-scrollbar-track {
      @apply bg-transparent;
    }

    &::-webkit-scrollbar-thumb {
      @apply bg-transparent rounded-dash-default transition cursor-pointer;
    }

    &:hover {
      &::-webkit-scrollbar-thumb {
        @apply bg-dash-blue-100 transition;
      }
    }

    .sidebar-body {
      @apply py-[1.41rem];


      .btn-sidebar {
        @apply transition-all rounded-[0.5rem] px-4 py-3 w-full text-start flex gap-2 items-center text-dxs font-bold cursor-pointer;


        .btn-icon {
          @apply transition-all text-dash-blue-500 w-[1.875rem] h-[1.875rem] flex items-center justify-center rounded-lg;
        }

        .btn-title {
          @apply transition-all text-dash-gray-400;
        }

        &.active {
          @apply shadow-dash-default;

          .btn-icon {
            @apply text-white bg-dash-blue-500;
          }

          .btn-title {
            @apply text-dash-gray-700;
          }
        }
      }

      .sidebar-label {
        @apply text-dash-gray-700 text-dxs uppercase font-bold mx-4 my-3 inline-block;
      }

    }


    .sidebar-footer {
      @apply flex flex-col items-center justify-center w-full mt-4;

      .documentation-info-title {
        @apply text-dsm font-bold text-dash-gray-700;
      }

      .documentation-info-text {
        @apply text-dash-gray-500 text-dxs;
      }

      .btn {
        @apply mt-8 w-full bg-dash-blue-500 text-white;
      }
    }
  }


}
